body {
  margin: 0;
  background: linear-gradient(135deg,#020617,#020617,#020617);
  font-family: system-ui;
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 420px;
  height: 600px;
  background: rgba(255,255,255,.03);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 40px #000;
}

.top {
  padding: 15px;
  text-align: center;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid #1f2933;
}

.messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

.msg {
  max-width: 80%;
  padding: 10px 14px;
  margin-bottom: 10px;
  border-radius: 12px;
  animation: pop .2s;
}

.user {
  background: #2563eb;
  color: white;
  margin-left: auto;
}

.bot {
  background: #1e293b;
  color: white;
}

.avatar {
  margin-right: 5px;
}

.bar {
  display: flex;
  padding: 10px;
  border-top: 1px solid #1f2933;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #020617;
  color: white;
}

button {
  margin-left: 10px;
  background: #2563eb;
  border: none;
  color: white;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  cursor: pointer;
}

@keyframes pop {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
}
